[Desktop Entry]
Name=ModOrganizer
Comment=Tool for managing mod collections
Exec=ModOrganizer %u
Icon=ModOrganizer
Type=Application
Categories=Game;GameTool
Terminal=false
