[Desktop Entry]
Name=ModOrganizer
Comment=Tool for managing mod collections
Exec=ModOrganizer %u
Icon=ModOrganizer
Type=Application
Categories=Utility;
Terminal=false
