[Desktop Entry]
Name=ModOrganizer
Comment=Tool for managing mod collections
Exec=ModOrganizer
Icon=org.modorganizer2.ModOrganizer
Type=Application
Categories=Utility;
Terminal=false
